<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/Profile-Pic.png', alt='')
        .dev-intro-box

          //- My name 
          h5 Kajuanna Smith

          //- Description about me 
          p Hi! I am Kajuanna Smith, an employee at SRP Environmental. Currently I am a student of treehouse to get my certification to become a Junior Software Engineer.

          //-'/about' path handler
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- My name for mobile layout 
          span Kajuanna Smith

      block content

  script(src='/static/js/script.js')